* {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: blue;
}

.active {
  text-decoration: underline;
}

/* Rockets */
img {
  width: 300px;
}

.h4 {
  color: rgb(95, 95, 95);
}

/* Missions */
.Missions-wrapper {
  padding: 2%;
}

.Missions-table {
  width: 100%;
  background-color: rgb(168, 167, 167);
}

.Missions-table tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.Missions-table tr:nth-child(odd) {
  background-color: #fff;
}

.Missions-table th {
  width: 15%;
  padding: 10px;
}

.Missions-description {
  width: 55% !important;
}
