* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.nav-link {
  text-decoration: none;
  color: rgb(1, 162, 255);
  font-size: 21px;
  float: right;
}

.navbar-li {
  display: inline;
}

.active {
  text-decoration: underline;
}

/* Missions */
.Missions-wrapper {
  padding: 2%;
}

.Missions-table {
  width: 100%;
  background-color: rgb(168, 167, 167);
}

.Missions-table tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.Missions-table tr:nth-child(odd) {
  background-color: #fff;
}

.Missions-table th {
  width: 15%;
  padding: 10px;
}

.Missions-description {
  width: 55% !important;
}

.Mission-button {
  background-color: transparent;
  border: 2px rgb(170, 170, 170) solid;
  color: rgb(170, 170, 170);
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.Mission-incative {
  padding: 4px;
  margin: 0 auto;
  display: table;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  color: #fff;
}

.Mission-active {
  padding: 4px;
  margin: 0 auto;
  display: table;
  background-color: rgb(97, 118, 240);
  border-radius: 5px;
  color: #fff;
}

.reserved {
  color: red;
  border: 2px red solid;
}

/* My Profile */
.MyProfile-Missions {
  float: left;
  width: 50%;
}

.MyProfile-Missions-Wraper {
  display: table;
  margin: 0 auto;
}

.MyProfile-Mission {
  padding: 1px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  width: 40vw;
}

.MyProfile-Missions h2 {
  padding: 10px 0 20px 15px;
  background-color: #fff;
  border-top: 1px solid rgb(156, 156, 156);
}

.MyProfile-Missions h2:nth-child(1) {
  border-top: none;
}

.MyProfile-Rockets {
  float: right;
  width: 50%;
}
