* {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: blue;
}

.active {
  text-decoration: underline;
}

/* Rockets */
img {
  width: 300px;
}

.h4 {
  color: rgb(95, 95, 95);
}

/* Missions */
.Missions-wrapper {
  padding: 2%;
}

.Missions-table {
  width: 100%;
  background-color: rgb(168, 167, 167);
}

.Missions-table tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.Missions-table tr:nth-child(odd) {
  background-color: #fff;
}

.Missions-table th {
  width: 15%;
  padding: 10px;
}

.Missions-description {
  width: 55% !important;
}

.Mission-button {
  background-color: transparent;
  border: 2px rgb(170, 170, 170) solid;
  color: rgb(170, 170, 170);
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.Mission-incative {
  padding: 4px;
  margin: 0 auto;
  display: table;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  color: #fff;
}

.Mission-active {
  padding: 4px;
  margin: 0 auto;
  display: table;
  background-color: rgb(97, 118, 240);
  border-radius: 5px;
  color: #fff;
}

.reserved {
  color: red;
  border: 2px red solid;
}
